.contenedor-derecha {
    width: 40%;
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 5%;
  }
  
  .contenedor-izquierda {
    overflow: hidden; 
  }
  
  